@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: #ded7eb !important;
  font-family: "Roboto Mono", monospace;
 padding: 50px;
}

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
} */
